@import url(format.css);

body {
    overflow: auto;
  }

.flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.card_creat {
    width: 90%;
    border-radius: 20px;
    padding: 5px 20px;
}

.card_creat:nth-child(1){
    background-color: #EB684D;
}

.card_creat:nth-child(2){
    background-color: #F29A30;
}

.card_creat:nth-child(3){
    background-color: #C0E3F4;
}
.card_creat:nth-child(4){
    background-color: #B0DBCF;
}

.etape {
    width: 60px;
    height: 60px;
    margin: 15px auto 0;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 60px;
}

h2{
    font-size: 2.4em;
    margin-bottom: 5px;
    /* text-decoration: underline; */
    color: #121212;
}

p {
    font-family: hp simplify;
    font-size: 1.2em;
    text-align: center;
}

img {
    width: 80%;
    margin: 10px auto;
}

.link {
    font-size: 2em;
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
    text-shadow: none;
    transition: 0.2s;
    animation: boing 10s linear infinite;
}
.link:hover {
    text-shadow: 2px 2px 5px rgb(54, 54, 54);
}

@keyframes boing {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      scale: 1;
    }
    5%,
    25%,
    45%,
    65%,
    85% {
      scale: 1.1;
    }
 
}

@media (min-width: 768px){
    .flex_center {
        flex-direction: row;
        gap: 20px;
    }

    .card_creat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 500px;
        padding: 5px 40px;
    }

    h2{
        font-size: 2em;
    }

    img {
        width: 90%;
    }
}

@media (min-width: 1081px){
    .flex_center {
        flex-direction: row;
        justify-content: center;
        gap: 35px;
    }

    .card_creat {
        width: 27%;
        height: 650px;
    }

    h2{
        font-size: 2.4em;
        margin-bottom: 5px;
        /* text-decoration: underline; */
        color: #121212;
    }

    p {
        font-size: 1.6em;
    }

    .link {
        font-size: 3em;
    }
}

@media (min-width: 1321px){
    .flex_center {
        flex-direction: row;
        justify-content: center;
        gap: 35px;
    }

    .card_creat {
        width: 20%;
        height: 650px;
    }

    h2{
        font-size: 2.4em;
        margin-bottom: 5px;
        /* text-decoration: underline; */
        color: #121212;
    }

    p {
        font-size: 1.6em;
    }

    .link {
        font-size: 3em;
    }
}